---
description: Collaboratively refine a high-level ambition into a set of chunk prompts.
---

## Tips

{% include "partials/common-tips.md.jinja2" %}
{% if task_context %}

**Task Context:** This command creates artifacts in the external artifact repo
(`{{ external_artifact_repo }}`). The narrative OVERVIEW.md will be created there.
Proposed chunks from this narrative will span participating projects.
{% endif %}

## Instructions

The operator wants to collaboratively develop this concept with you:

$ARGUMENTS

---

1. Create a short name handle that describes this concept. A short name should
   be 32 characters or less and words should be underscore separated. We will
   refer to this shortname later as <shortname>.

2. Run `ve narrative create <shortname>` and note the created directory name. We
   will refer to this name later as <narrative_directory>.

3. Complete the template in <narrative_directory>/OVERVIEW.md with the
   information supplied by the operator and through further clarification
   interactions with the operator. 