---
name: {{ name }}
role: {{ role or "" }}
created: {{ created }}
---

# {{ name }}

{{ role or "This entity has not yet been given a role description." }}

## Startup Instructions

<!-- Add instructions that should be loaded when this entity wakes up. -->
